---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
---

<section id="cta" class="pb-20">
  <Container>
    <div class="py-16 md:py-20 px-6 md:px-8">
      <div class="mx-auto text-center max-w-4xl md:max-w-5xl relative">
        <h2 class="text-3xl md:text-4xl font-bold text-heading-1">
          Elige tu plan
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-10">
          <!-- Plan 1 -->
          <div
            class="relative rounded-2xl bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 p-10 lg:text-left"
          >
            <h3
              class="text-2xl font-semibold text-heading-1 relative rounded-2xl from-gray-100 to-gray-200 dark:from-gray-900 p-6 md:p-10"
            >
              Básico
            </h3>
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
              <li class="flex items-center">
                <span
                  class="font-bold bg-box-bg rounded-full w-10 h-10 mr-3 text-primary inline-flex justify-center items-center"
                  >&checkmark;</span
                > Automatización de Respuestas
              </li>
              <li class="flex items-center">
                <span
                  class="font-bold bg-box-bg rounded-full w-10 h-10 mr-3 text-primary inline-flex justify-center items-center"
                  >&checkmark;</span
                > Integración con Plataformas
              </li>
              <li class="flex items-center">
                <span
                  class="font-bold bg-box-bg rounded-full w-10 h-10 mr-3 text-primary inline-flex justify-center items-center"
                  >&checkmark;</span
                > Análisis de Datos.
              </li>
              <li class="flex items-center">
                <span
                  class="font-bold bg-box-bg rounded-full w-10 h-10 mr-3 text-primary inline-flex justify-center items-center"
                  >&checkmark;</span
                > Disponibilidad 24/7.
              </li>
            </ul>
            <p class="text-3xl font-semibold mt-8 text-heading-1 text-center">$99/Mes</p>
            <div class="flex justify-center mt-8"> <!-- Centrar horizontalmente -->
              <a href="https://wa.me/13343098638?text=Cotización" target="_blank">
                <Button variant={"primary"} className="text-white">
                  <span class="text-white relative z-[5]">Solicitar plan</span>
                </Button>
              </a>
              
            </div>
          </div>

          <!-- Plan 2 -->
          <div
            class="relative rounded-2xl bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 p-10 lg:text-left"
          >
            <h3
              class="text-2xl font-semibold text-heading-1 relative rounded-2xl from-gray-100 to-gray-200 dark:from-gray-900 p-6 md:p-10"
            >
              Negocio
            </h3>
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
              <li class="flex items-center">
                <span
                  class="font-bold bg-box-bg rounded-full w-10 h-10 mr-3 text-primary inline-flex justify-center items-center"
                  >&checkmark;</span
                > API oficial de Meta para Whatsapp.
              </li>
              <li class="flex items-center">
                <span
                  class="font-bold bg-box-bg rounded-full w-10 h-10 mr-3 text-primary inline-flex justify-center items-center"
                  >&checkmark;</span
                > 1.200 conversaciones al mes incluidas.
              </li>
              
              <li class="flex items-center">
                <span
                  class="font-bold bg-box-bg rounded-full w-10 h-10 mr-3 text-primary inline-flex justify-center items-center"
                  >&checkmark;</span
                > 300 conversaciones de marketing por mes incluidas.
              </li>
             
            </ul>
            <p class="text-3xl font-semibold mt-12 text-heading-1 text-center">$149/Mes</p>
            <div class="flex justify-center mt-8"> <!-- Centrar horizontalmente -->
              <a href="https://wa.me/13343098638?text=Cotización" target="_blank">
                <Button variant={"primary"} className="text-white">
                  <span class="text-white relative z-[5]">Solicitar plan</span>
                </Button>
              </a>
            </div>
          </div>

          <!-- Plan 3 -->
          <div
            class="relative rounded-2xl bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 p-10 lg:text-left"
          >
            <h3
              class="text-2xl font-semibold text-heading-1 relative rounded-2xl from-gray-100 to-gray-200 dark:from-gray-900 p-6 md:p-10"
            >
              Empresarial
            </h3>
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
              <li class="flex items-center">
                <span
                  class="font-bold bg-box-bg rounded-full w-10 h-10 mr-3 text-primary inline-flex justify-center items-center"
                  >&checkmark;</span
                > API oficial de Meta para Whatsapp.
              </li>
              <li class="flex items-center">
                <span
                  class="font-bold bg-box-bg rounded-full w-10 h-10 mr-3 text-primary inline-flex justify-center items-center"
                  >&checkmark;</span
                > 4.000 conversaciones al mes incluidas.
              </li>
              <li class="flex items-center">
                <span
                  class="font-bold bg-box-bg rounded-full w-10 h-10 mr-3 text-primary inline-flex justify-center items-center"
                  >&checkmark;</span
                > 500 conversaciones de marketing por mes incluidas.
              </li>
             
            </ul>
            <p class="text-3xl font-semibold mt-12 text-heading-1 text-center">$199/Mes</p>
            <div class="flex justify-center mt-8"> <!-- Centrar horizontalmente -->
              <a href="https://wa.me/13343098638?text=Cotización" target="_blank">
                <Button variant={"primary"} className="text-white">
                  <span class="text-white relative z-[5]">Solicitar plan </span>
                </Button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </Container>
</section>
